<!DOCTYPE html PUBLIC 
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= controller.controller_name + "->" + controller.action_name %></title>
    <%= stylesheet_link_tag 'default.css' %>
  </head>
  <body>
    <div id="wrapper">

      <div id="header">
      </div><!--Header Div-->

      <div id="content">
        <% if flash[:error] %>
          <div class="error"><%= flash[:error] %></div>
        <% elsif flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% else %>
          <%= yield %>
        <% end %>
      </div><!--Content Div-->

      <div id="clearfooter">
      </div><!--ClearFooter Div-->

      <div id="footer">
          &copy;2009 JST Enterprise, Inc.
      </div><!--Footer Div-->

    </div><!--Wrapper Div-->
  </body>
</html>
